{{ form_start(form, {'action': app.request.requestUri}) }}
<div class="modal-header">
    <h5 class="modal-title">Marquer tous les événements comme lu</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    Voulez-vous vraiment marquer tous les événéments du calendrier comme lu ?
    {{ form_rest(form) }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
        <i class="fa fa-arrow-circle-left"></i> Annuler
    </button>
    <button type="submit" class="btn btn-warning">
        <i class="fa fa-check-square"></i> Oui
    </button>
</div>
{{ form_end(form) }}
