{% extends 'admin/layout.html.twig' %}
{% set libKilikTable=true %}
{% set section="admin" %}
{% set subSection="user" %}

{% block pageContent %}
    <div class="row mb-4">
        <div class="col-xl-12">
            {% embed "admin/user/_list.html.twig" with {"table": table} %}
                {% block tableTitle %}
                    <b>Utilisateurs</b>
                    {# <div class="navbar navbar-right"> #}
                    {# <a href="{{ path("tabledemo_index") }}"><span class="glyphicon glyphicon-home"></span> return to examples list</a> #}
                    {# </div> #}
                {% endblock tableTitle %}
            {% endembed %}
        </div>
    </div>
{% endblock pageContent %}
