{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Mot de passe perdu{% endblock %}

{% block pageContent %}
    <div class="container pt-3 pb-3 mb-3">
        <div class="row mb-3 ml-1 mr-1 justify-content-center">
            <div class="col-6">
                <div class="card border-secondary mb-3">
                    <div class="card-header">Mot de passe perdu</div>

                    <div class="alert alert-dismissible alert-info ml-3 mr-3 mt-3">
                        <strong>Information: </strong>si un compte existe, vous recevrez un email de confirmation de changement de mot de passe
                    </div>

                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_rest(form) }}
                        <button class="btn btn-lg btn-primary form-control" type="submit">
                            <i class="fa fa-pen"></i> Récupérer mon compte
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}