VHOST=veaf.localhost
PROXY_NETWORK=webproxy
#uncomment to enable SSL
#SSL_EMAIL=email@local

## default values
#PHP_REGISTRY=kilik/php
#PHP_TAG=7.4-buster-dev
#NGINX_REGISTRY=kilik/nginx
#NGINX_TAG=symfony-4.x-stretch

###> snc/redis-bundle ###
# passwords that contain special characters (@, %, :, +) must be urlencoded
REDIS_URL=redis://localhost
###< snc/redis-bundle ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=138768954d0427c7c372bcf29b1148c9
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data_%kernel.environment%.db"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8&charset=utf8mb4"
DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###
