{% extends 'admin/layout.html.twig' %}
{% set libKilikTable=true %}
{% set section="dcs" %}
{% set subSection="server" %}

{% block pageContent %}
    <div class="row mb-4">
        <div class="col-xl-8">
            {% embed "admin/dcs/server/_list.html.twig" with {"table": table} %}
                {% block tableTitle %}
                    <b>Serveurs DCS</b>
                    <div class="float-right">
                        <a class="btn btn-primary" href="{{ path("admin_dcs_server_add") }}"><i class="fa fa-plus"></i> Ajouter</a>
                    </div>
                {% endblock tableTitle %}
            {% endembed %}
        </div>
    </div>
{% endblock pageContent %}
