{% extends 'admin/layout.html.twig' %}
{% set libKilikTable=true %}
{% set section="admin" %}
{% set subSection="external-image" %}

{% block pageContent %}
    <div class="row mb-4">
        <div class="col-xl-8">
            {% embed "admin/external-image/_list.html.twig" with {"table": table} %}
                {% block tableTitle %}
                    <b>Images externes</b>
{#                    <div class="float-right">#}
{#                        <a class="btn btn-primary" href="{{ path("admin_external_image_add") }}"><i class="fa fa-plus"></i> Add</a>#}
{#                    </div>#}
                {% endblock tableTitle %}
            {% endembed %}
        </div>
    </div>
{% endblock pageContent %}
