<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}Virtual European Air Force - VEAF{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
              integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
              crossorigin="anonymous"/>
        <link rel="icon" type="image/ico" href="/img/favicon.ico"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
              integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
              crossorigin="anonymous"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"
                integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA=="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"
                integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ=="
                crossorigin="anonymous"></script>
        {% if libKilikTable is defined and libKilikTable == true %}
        <script src="/bundles/kiliktable/js/KilikTable.js"></script>
        {% endif %}
    {% endblock head %}
</head>
<body{% block bodyAttributes %}{% endblock bodyAttributes %}>
{% block body %}
    {% block header %}
    {% endblock header %}

    <div id="main">
        {% block pageContent %}
        {% endblock pageContent %}
    </div>

    {% block footer %}
    {% endblock footer %} {% block javascript %}
<script>
{% for message in app.flashes('success') %}
    $.notify("{{ message|escape('js') }}", "success");
{% endfor %}
{% for message in app.flashes('warning') %}
    $.notify("{{ message|escape('js') }}", "warn");
{% endfor %}
{% for message in app.flashes('error') %}
    $.notify("{{ message|escape('js') }}", "error");
{% endfor %}
$(document).ready(function () {
    {% if libKilikTable is defined and libKilikTable == true %}
    var loadKiliktables = function () {
        var $kilikTables = $("[data-kiliktable-id]");
        if ($kilikTables && $kilikTables.length > 0) {
            $kilikTables.each(function (index, currentTable) {
                var $currentTable = $(currentTable);
                var id = $currentTable.data("kiliktable-id");
                if (id.length > 0) {
                        console.log(id);
                    var path = $currentTable.data("kiliktable-path");
                    var options = $currentTable.html();
                    new KilikTableFA(id, path, JSON.parse(options)).init();
                }
            });
        }
    }
    loadKiliktables();
    {% endif %}
});
</script>
{% endblock %} {% endblock body %}
</body>
</html>
