{{ form_start(form, {'action': app.request.requestUri}) }}
<div class="modal-header">
    <h5 class="modal-title">Ne pas rejoindre la VEAF</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    Je ne souhaite pas intégrer le programme <i class="fa fa-user-graduate text-primary"></i> Cadets de la VEAF.
    <br/>
    <br/>
    <p>Je peux continuer à utiliser les ressources publiques de l'association.</p>
    <p><i>Ce choix n'est pas définitif, je peux à tout moment rejoindre le programme d'intégration des cadets.</i></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
        <i class="fa fa-arrow-circle-left"></i> Annuler
    </button>
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-user"></i> Je me signale comme invité
    </button>
</div>
{{ form_end(form) }}
