{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Ajouter un vol{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <h1>
            Ajouter un vol au cadet {{ user.nickname }}
        </h1>
    </div>
    <div class="container container-main pt-3 pb-3 mb-3">
        {% include "recruitment/_add-fly.html.twig" %}
    </div>
{% endblock %}