{# public layout #}
{% extends "website/layout.html.twig" %}

{% block head_custom %}
    <link rel="stylesheet" href="{{ cdn_url }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css?version={{ app_version }}{% if app.environment == "dev" %}&t={{ "now"|date("YmdHis") }}{% endif %}">
{% endblock head_custom %}

{% block footer %}
    {# <div class="container container-main pt-2 mt-5"> #}
    <footer id="footer">
        <div class="row mb-2">
            <div class="col-lg-12 text-center">
                Sauf précision contraire, le contenu de ce site est mis à disposition selon les termes<br>
                de la
                <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/fr/">
                    Licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les
                    Mêmes Conditions 3.0 France.
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                © 2004 - 2021 VEAF
            </div>
            <div class="col-sm-6">
                &nbsp;
            </div>
            <div class="col-sm-3 text-right">
                Virtual European Air Force
            </div>
        </div>
    </footer>
    {# </div> #}
{% endblock footer %}
