{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}: Erreur 403{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <h1>
            <i class="fa fa-lock"></i>
            Erreur 403
        </h1>

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    Vous essayez d'utiliser une ressource ou une fonctionnalité pour laquelle vous n'êtes pas habilité.
                </div>
            </div>

        </div>
    </div>
{% endblock pageContent %}