{% extends "email/layout.html.twig" %}

{% block content %}
    Bonjour,<br/>
    <br/>
    Ceci est un email automatique, merci de ne pas y répondre.<br/>
    <br/>
    Une demande de changement de mot de passe a été effectuée sur le site web de la {{ website }}.<br/>
    <br/>
    Nous vous connaissons sous le pseudo: <b>{{ nickname }}</b>.<br/>
    <br/>
    Si vous êtes à l'origine de cette action, et si vous confirmez vouloir modifier votre mot de passe, alors cliquez sur le lien suivant:<br/>
    <br/>
    <a href="{{ passwordResetUrl }}">{{ passwordResetUrl }}</a><br/>
    <br/>
    <i>Dans le cas contraire, aucune action n'est nécessaire de votre part.</i><br/>
{% endblock content %}
